.customNavbar{
  margin: 50px 140px;
  border-radius: 80px;
}

@media (max-width: 720px){
  .customNavbar{
    margin: 50px 25px !important;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0) !important;
  }
}